@keyframes hand_swing {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

@keyframes defilement-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes defilement-right {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
