.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.full-height {
  transition: 1s;
  height: 100vh;
}

.full-height-text {
  font-size: 90vh !important;
}
